.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: black;
}

.logo {
    height: 50px;
}

.nav-right a {
    color: orange;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 600;
}
