.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #000;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 45px;
    margin-right: 10px;
}

.brand-text {
    color: gold;
    font-weight: bold;
    font-size: 18px;
}
